{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_login/potentialIdps

    This template renders a list of potential IdPs to use to login.

    Example context (json):
    {
        "potentialIdps": [
            {
                "url": "https://my.example-idp.com",
                "name": "My personal IdP",
                "iconurl": "https://moodle.org/favicon.ico"
            }
        ]
    }

}}
{{#potentialIdps}}
<div class="potentialidps">
    <h6>{{#str}}potentialidps, auth{{/str}}</h6>
    <div class="potentialidplist">
{{/potentialIdps}}
{{#potentialIdps}}
{{>block_login/potentialIdp}}
{{/potentialIdps}}
{{#potentialIdps}}
    </div>
</div>
{{/potentialIdps}}
